<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>部门管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/css/homepage.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="../static/common/headbar::headbar"></div>
<div th:include="./detail_admin::homepage"></div>
<div style="padding: 20px 550px 10px;height: 80px">
    <div class="col-sm-6">
        <form method="get" action="/depart/list" class="form-inline" id="searchform">
            <div class="input-group">
                <input type="text" placeholder="输入部门名称" class="form-control" name="depName">
                <span class="input-group-btn">
                    <input type="submit" value="搜索" class="btn btn-default">
                </span>
            </div>
        </form>
    </div>
    <div class="col-sm-6">
        <button type="button" class="btn btn-info" id="addBtn">新增</button>
    </div>
</div>

<div class="panel panel-default" style="width: 90%;margin-left: 5%">
    <div class="panel-heading">
        <h3 class="panel-title" style="text-align:center">部门列表</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover" style="text-align:center">
            <thead>
            <tr>
                <th>id</th>
                <th>部门名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="deplist: ${list}">
                <td th:text="${deplist.id}"></td>
                <td th:text="${deplist.depName}"></td>
                <td>
                    <button type="button" class="btn btn-info" id="editBtn">修改</button>
                    <button type="button" class="btn btn-danger" id="deleteBtn">删除</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>